# Entornos Virtuales
venv/
env/
ENV/
env.bak/
venv.bak/

# Variables de Entorno (¡CRÍTICO NO SUBIR ESTO!)
.env
.env.local
.env.development

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media / Uploads
media/
uploads/

# Docker
docker-compose.override.yml

# Node / Frontend
node_modules/
package-lock.json
dist/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store
